<h1>About Bustle Clone</h1>

<p>This site will attempt to mimic Bustle.com for Ember-CLI practice.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
