<h1>Authorized personnel only!</h1>

<ul>
  {{#each model as |story|}}
  <li>
    {{update-story story=story update="update" }}
    {{story-tile story=story destroyStory="destroyStory"}}
    <button {{action 'delete' story}}>Delete</button>
  </li>
  {{/each}}
</ul>

{{new-story saveStory="saveStory"}}

{{#link-to 'index'}}Home{{/link-to}}
