<h1>Bustle Clone!</h1>

<h2>All the news that you need to know!</h2>

<ul>
  {{#each model as |story|}}
  <li>
    {{story-tile story=story}}
  </li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
<br>
{{#link-to 'admin'}}Admin{{/link-to}}
